@import "tailwindcss";

/* image list */
.list-title {
    font-size: 14px;
    font-weight: bold;
    min-width: 11%;
}

.list-contents {
    font-size: 14px;
    min-width: 11%;
}

/* table */
.table-title {
    width: 10%;
}

.font-sm {
    font-size: 12px;
}

.font-base {
    font-size: 13px;
}

/* antd custom css */
.ant-table-wrapper .ant-table.ant-table-ping-right .ant-table-container::after {
    box-shadow: none;
}
.ant-table-wrapper .ant-table.ant-table-ping-left .ant-table-container::before {
    box-shadow: none;
}
.ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:first-child {
    border-start-start-radius: 0;
}
.ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:last-child {
    border-start-end-radius: 0;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 40px 0 20px 0;
}
.ant-pagination .ant-pagination-options {
    display: none;
}
.ant-table-content .ant-table-row {
    cursor: pointer;
}
.ant-table-content
    table
    .ant-table-expanded-row
    .ant-table-cell
    ul
    li:last-child {
    border: none;
}
.ant-table-content
    table
    .ant-table-expanded-row
    .ant-table-cell
    ul
    li:first-child {
    padding-top: 0;
}
.ant-table-content .ant-table-cell,
.ant-table-content .ant-table-thead > tr > th {
    padding: 12px 12px;
}
.ant-table-content .ant-table-tbody > tr > td {
    padding: 12px 12px;
}
